@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media screen and (max-width: 992px) {
      @content;
    }
  }
  @else if $breakpoint == mobile {
    @media screen and (max-width: 576px) {
      @content;
    }
  }
}